@import '../../variables.scss';
@import '../../mixins.scss';
  .candidate-wrapper {
  h2 {
    border-bottom: solid 1px $border-color;
    font-size: $size-md;
    font-weight: $bold-weight;
    color: $black;
    margin-bottom: 0;
    padding: 25px 50px;
  }
  .mat-typography {
    padding: 25px 50px;
    margin: 0;
    form {
      .social-link-wrapper {
        padding-top: 30px;
      }
      .mat-form-wrapper {
        display: flex;
        width: 100%;
        gap: 30px;
        &.border-bottom {
          border-bottom: solid 1px $border-color;
        }
        .form-group {
          flex: 1;
          display: flex;
          flex-direction: column;
          margin-bottom: 10px;
          &.add-space {
            flex: 2;
            display: flex;
            flex-direction: column;
          }
          &.custom-width {
            max-width: 318px;
          }
          .mat-icon-wrapper {
            position: relative;

          }
          label {
            font-size: $size-xs;
            font-weight: $bold-weight;
            color: $black;
            height: 20px;
            margin-bottom: 7px;
            &.reset-label {
              @include flex(row, center, center);
              font-size: $size-Xxs;
              text-align: right;
              color: $base-color;
              border-radius: $border-half-radius;
              width: 50px;
              align-self: end;
              cursor: pointer;
               &:hover {
                transform: scale(1.02);
                color: $blue-color;
              }
            }
          }
          .icon-wrap {
            position: absolute;
            right: 10px;
            top: $size-Xxs;
            width: $size-s;
            min-width: $size-s;
            height: $size-s;
            background: $white;
            color: red;
            border-radius: $rounded;
            @include flex(flex, center, center);

          }
          ::ng-deep .mat-form-field {
            width: 100%;
            .mat-form-field-wrapper {

              .mat-form-field-flex {
                border-radius: $border-half-radius;
                border: solid 1px $candi-border;
                background-color: $white;
                .place-site {
                  line-height: 1px;
                  position: relative;
                  top: -$size-Xxs;
                  left: 6px;
                  color: $light-black;
                }
                &:focus, &:focus-within {
                  box-shadow: 0 0 0 3px rgba(63, 166, 217, 0.3);
                  border: solid 1px $base-color;
                }
                .mat-form-field-infix {
                  padding: 0;
                  border-top: 0;
                  position: relative;
                 .error-msg {
                   position: absolute;
                   bottom: -17px;
                    color: #f44336;
                    font-size: 10.5px;
                    margin-bottom: 0;
                  }
                  .code-wrap {
                    position: absolute;
                    left: $size-full-icon;
                    top: 12.5px;
                  }
                  .iti__flag-container {
                    width: 90px;
                    border-right: solid 1px $candi-border;
                    .iti__selected-flag {
                      position: relative;
                      background: $transparent;
                      .iti__arrow {
                        position: absolute;
                        right: 8px;
                      }
                    }
                  } 
                   .iti--allow-dropdown {
                     width: 100%;
                     input {
                       padding-left: 105px;
                       width: calc(100% - 103px);
                     }
                   }
                  .social-input {
                    border-left: solid 1px $candi-border;
                    margin-left: $size-Xxs;
                    width: calc(100% - 30px);
                  }
                  input {
                    padding: 0 10px 0 10px;
                    width: calc(100% - 20px); 
                  }
                  .input-icon {
                    padding: 0 30px 0 10px;
                    width: calc(100% - $btn-height); 
                  }
                  .mat-form-field-label-wrapper {
                    top: 0;
                    .mat-form-field-label {
                      top: $size-Xxs;
                      padding: 0 10px;

                    }
                  }
                  .mat-input-element {
                    height: $btn-height;
                  }
                  .mat-form-field-label-wrapper {
                    padding: 0;
                  }
                }
              }
              .mat-form-field-underline {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  .mat-dialog-actions {
    background-color: #f3f5f8;
    padding: $size-s 50px;
    min-height: 38px;
    margin-bottom: 0;
    .outline-btn-cancel {
      width: 114px;
      height: $btn-height;
      color: $base-color;
      font-size: $size-xs;
      font-weight: $bold-weight;
    }
    .btn-save {
      width: 114px;
      height: $btn-height;
      border-radius: $border-half-radius;
      background-color: $base-color;
      font-size: $size-xs;
      font-weight: $bold-weight;
      color: $white;
    }

  }
}
::ng-deep .mat-dialog-container {
  padding: 0;
  overflow: hidden;
  .mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.28125em) scale(0) perspective(100px) translateZ(0.001px);
    width: 133.3333333333%;
  }
  .mat-form-field-appearance-legacy.mat-form-field-can-float .mat-form-field-autofill-control:-webkit-autofill+.mat-form-field-label-wrapper .mat-form-field-label {
    transform: translateY(-1.28125em) scale(0) perspective(100px) translateZ(0.001px);
    width: 133.3333333333%;
   }
}

::ng-deep .custom-drop-wrap {
  padding: 5px;
  .mat-option {
    font-size: $size-xs;
    height: $size-full-icon;
    line-height: $size-full-icon;
    &:hover {
      border-radius: $border-half-radius;
    background-color: $gray-white;
    }
  }
}