<div class="sidebar">
    <div class="logo">
        <img src="../../assets/images/logo.svg" alt="logo">
    </div>
    <ul>
        <li><a href="/"><img class="gray" src="../../assets/images/home-icon.svg" alt="home">
            <img class="blue" src="../../assets/images/home-icon-blue.svg" alt="home">
        </a></li>
        <li><a href="/" class="active"><img class="gray" src="../../assets/images/icons-8-job-seeker.svg" alt="job-seeker">
            <img class="blue" src="../../assets/images/icons-8-job-seeker-blue.svg" alt="job-seeker">
        </a></li>
        <li><a href="/"><img class="gray" src="../../assets/images/icons-8-inspection.svg" alt="inspection">
            <img class="blue" src="../../assets/images/icons-8-inspection-blue.svg" alt="inspection">
        </a></li>
        <li><a href="/"><img class="gray" src="../../assets/images/icons-8-tear-off-calendar.svg" alt="calendar"><img class="blue" src="../../assets/images/icons-8-tear-off-calendar-blue.svg" alt="calendar"></a></li>
        <li><a href="/"><img class="gray" src="../../assets/images/icons-8-combo-chart.svg" alt="chart">
            <img class="blue" src="../../assets/images/icons-8-combo-chart-blue.svg" alt="chart">
        </a></li>
        <li><a href="/"><img class="gray" src="../../assets/images/icons-8-privacy-policy.svg" alt="privacy-policy">
            <img class="blue" src="../../assets/images/icons-8-privacy-policy-blue.svg" alt="privacy-policy">
        </a></li>

        <li><a href="/"><img class="gray" src="../../assets/images/icons-8-communication.svg" alt="communication">
            <img class="blue" src="../../assets/images/icons-8-communication-blue.svg" alt="communication">
        </a></li>
    </ul>
    <div class="setting-icon">
        <div class="setting-wrap">
            <img class="gray" src="../../assets/images/settings-icon.svg" alt="setting-icon">
            <img class="blue" src="../../assets/images/icons-8-settings-blue.svg" alt="setting-icon">
        </div>
    </div>
</div>