@import '../../variables.scss';
@import '../../mixins.scss';

.sidebar {
    @include flex(column, center, center);
    width: $sidebar-width;
    border-right: solid 1px $border-color;
    position: fixed;
    left: 0;
    height: 100%;   
    flex: 1;
    cursor: pointer;
    .logo {
        height: $sidebar-width;
        @include flex(row, center, center);
        margin-bottom: $border-half-radius;
    }
    ul {
        padding-left: 0;
        margin: 0;
        flex: 1;
        overflow: auto;
        li {
            list-style: none;
            @include flex(row, center, center);
            width: 100%;
            margin-bottom:$margin-m;
           
            a {
                @include flex(row, center, center);
                width: $btn-height;
                height: $btn-height;
                border-radius: $border-half-radius;
                background: $transparent;
                color: $light-black;
              
               
                &:hover, &.active {
                    background-color: $light-gray;
                    fill: $fill-color;
                    svg {
                        path {
                            fill: $fill-color;
                            opacity: 1;
                        }
                    }
                  
                }
            }
        }
    }
    .setting-icon {
        @include flex(row, center, center);
        width: 100%;
        height: $sidebar-height;
        .setting-wrap {
            width: $btn-height;
            height: $btn-height;
            border-radius: $border-half-radius;
            @include flex(row, center, center);
            background: $transparent;
          
            &:hover, &.active {
                background-color: $light-gray;
                fill: $fill-color;
                svg {
                    path {
                        fill: $fill-color;
                        opacity: 1;
                        pointer-events:all;
                    }
                }
            }
           
        }

    }
}