//font-size
$size-Xxs: 12px;
$size-xs: 14px;
$size-s: 16px;
$size-m: 20px;
$size-md: 18px;
$size-l: 32px;

// basic color 
$base-color: #3fa6d9;
$light-sky: #d9edf7;
$light-gray: #eef2f6;
$gray-white: #f3f5f8;
$border-color: #e9edf1;
$candi-border: #d8d8d8;
$fill-color: #49a6da;
$blue-color: #0d9ee7;
$white: #fff;
$black: #000;
$light-black: rgba(0, 0, 0, 0.3);
$shadow-black: rgba(0, 0, 0, 0.1);
$transparent: transparent;


//ELEMENTS
$btn-height: 40px;
$sidebar-width: 71px;
$sidebar-height: 70px;
$border-half-radius: 4px;
$rounded: 50%;

//TYPOGRAPHY
$main-weight: 300;
$bold-weight: 600;

//SPACING
$margin-xs: 5px;
$margin-s: 10px;
$margin-m: 20px;
$margin-l: 32px;
$margin-xl: 70px;

$size-full-icon: 36px;

$icon-size: 24px;
$checkbox-size: 18px;