@import '../variables.scss';
@import '../mixins.scss';

.main-wrapper-page {
  display: flex;
  .data-wrapper {
    margin-left: $margin-xl;
    padding-left: 52px;
    padding-right: 58px;
    width: 100%;
  }
}

.details-wrap {
  @include flex(row, space-between, center);
  margin-bottom: $margin-m;
 ::ng-deep .add-btn{
    margin-left: $margin-m;
    height: $btn-height;
    font-weight: $bold-weight;
    font-size: $size-xs;
    padding: 0 12px;
    border-radius: $border-half-radius;
    box-shadow: none;
    background-color: $base-color;
    .mat-button-wrapper {
      @include flex(row, flex-start, center);
  }
}
  .delete-btn{
    background-color: $light-gray;
    padding: 0 12px;
    width: 68px;
    height: $btn-height;
    color: $black;
    font-weight: $bold-weight;
    box-shadow: none;
    &.mat-button-disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
  .candidate-text{
    font-size: $size-l;
    font-weight: bold;
   margin: 0;
  }
}
.data-table-wrapper {
  width: 100%;  
  max-width: 100%;
  overflow: auto;
 
}
.demo-table {
  max-width: 100%;
  border-radius: $border-half-radius;
  border: solid 1px $border-color;
  box-shadow: none;
  width: 100%;
  overflow: auto;
  position: relative;
  .mat-header-row{
    height: 60px;
    .mat-header-cell {
      border-bottom-color: $border-color;
      padding: 0 15px;
      color: $black;
      &::ng-deep {
        .mat-sort-header-content {
          font-size: $size-Xxs;
        font-weight: $bold-weight;
        }
        .mat-checkbox-checked.mat-accent {
          .mat-checkbox-background {
            background-color: $base-color;
          }
          .mat-ripple-element {
            background-color: $base-color;
          }
        }

        .mat-checkbox-indeterminate.mat-accent {
          .mat-checkbox-background {
            background-color: $base-color;
          }
        }
        .mat-checkbox-frame{
          border-color: $light-black;
        }
      }
      // .mat-checkbox{
      //   margin-right: $margin-l;
      // }
      &.cdk-column-select{
       min-width: 30px;
       max-width: 30px;
        text-align: center;
        padding-left: 17px;
        ::ng-deep .mat-checkbox {
          width: $btn-height;
          height: $btn-height;
          @include flex(row, center, center);
          .mat-checkbox-layout {
            .mat-checkbox-inner-container {
              height: $checkbox-size;
              width: $checkbox-size;
            }
          }
        }
      }
      &.cdk-column-firstName{
        min-width: 120px;
        max-width: 120px;
      }
      &.cdk-column-identifierNumber{
        // width: 10%;
        min-width: 80px;
        max-width: 100px;
      }
      &.cdk-column-address{
        // width: 20%;
        min-width: 170px;
        max-width: 200px;
        .city-content {
          line-height: $checkbox-size;
        }
      }
      &.cdk-column-emailAddress{
        // width: 20%;
        min-width: 100px;
        max-width: 180px;
      }
      &.cdk-column-phoneNumber{
        // width: 15%;
        min-width: 120px;
        max-width: 120px;
        white-space: nowrap;
      }
      &.cdk-column-daysActive{
        // width: 12%;
        min-width: 110px;
        max-width: 110px;
      }
      &.cdk-column-action{
        width:25px;
        padding-right: 26px;
        right: -1.5px !important;
      }
      .mat-checkbox-frame {
        border-color: $light-black;
    }
    }
  }
  .mat-row{
    height: 64px;
    position: relative;
    &:last-child {
      .mat-cell{
        border-bottom: 1px solid $border-color;
      }
    }
    &::after {
      content: "";
      display: block;
      background-color: $border-color;
      height: 1px;
      width: calc(100% - 50px);
      position: absolute;
      margin: 0 auto;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
    }
    .mat-cell{
      border-bottom-color: $transparent;
      padding: 0 15px;
      ::ng-deep {
        ngx-skeleton-loader {
          .loader {
            margin: 0;    
          }
        }
      }
      &:nth-of-type(2) {
        min-width: 150px;
        max-width: 150px;
      }
      &:first-child {
       text-align: center;
       padding-left: 17px;
       min-width: 30px;
       left: -1px !important;
       max-width: 30px;
       ngx-skeleton-loader {
        width: $btn-height;
        height: $btn-height;
        @include flex(row, center, center);
        .progress {
          width: $checkbox-size;
          height: $checkbox-size;
        }
       }
      }
      ::ng-deep{
        .mat-checkbox {
          width: $btn-height;
          height: $btn-height;
          @include flex(row, center, center);
          .mat-checkbox-layout {
            .mat-checkbox-inner-container {
              height: $checkbox-size;
              width: $checkbox-size;
            }
          }
        }
        .mat-checkbox-checked.mat-accent {
          .mat-checkbox-background{
            background-color: $base-color;
          }
          .mat-ripple-element{
            background-color: $base-color;
          }
        }
        .mat-checkbox-frame{
          border-color: $light-black;
        }
      }
    }
    .mat-column-address {
      .location-wrapper {
        @include flex(row, flex-start, center);
        height: 100%;
        ::ng-deep {
          ngx-skeleton-loader {
            margin-right: $margin-xs;
          }
        }
        span {
          height: $checkbox-size;
          width: $checkbox-size;
          border-radius: $rounded;
          background-size: cover;
          background-position: center;
          margin-right: $margin-xs;
          
        }
        .city-content {
          line-height: $checkbox-size;
        }
      }
    }
    .mat-column-emailAddress{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 120px;
      padding: 0 50px 0 15px;
    }
    .mat-column-daysActive{
      color: #3ebf62;
    }
    .mat-column-action{
     text-align: right;
     padding-right: 26px;
     right: -1px !important;
    }
  }
  &::ng-deep {
      .mat-checkbox {
        &:not(.mat-checkbox-disabled) {
          .mat-checkbox-ripple {
            .mat-ripple-element {
              background-color: #3fa6d9;
            }
          }
        }
      }
  }
}

.pagination-wrap{
  background-color: $gray-white;
  border: 1px solid $light-gray;
  margin-top: -3px;
  border-bottom-left-radius: $border-half-radius;
  border-bottom-right-radius: $border-half-radius;
  &::ng-deep .mat-paginator-outer-container{
    height: 64px;
    .mat-paginator-container {
      justify-content: flex-start;
      padding: 0 25px;
      .mat-paginator-page-size-label{
        color: $black;
        font-size: $size-xs;
      }
      .mat-select-value,.mat-select-arrow,.mat-paginator-range-label{
        color: $black;
        font-size: $size-xs;
      }
    .mat-icon-button{
      color: $black;
      &.mat-button-disabled{
        color: rgba(0,0,0,.26);
       
      }
    }
    .mat-form-field-underline{
      display: none;
    }
    }
  }
}


::ng-deep .mat-menu-wrap{
  box-shadow: 0 2px 4px 0 $shadow-black;
  border: solid 1px $gray-white;
  background-color: $white;
  padding: 5px;
  .mat-menu-content:not(:empty){
    padding: 0;
  .mat-menu-item{
    line-height: $size-full-icon;
    height: $size-full-icon;
    border-radius: $border-half-radius;
    &:hover {
      background-color: $gray-white;
    }
  }
}
}
.mat-column-demo-position {
  width: $margin-l;
  border-right: 1px solid currentColor;
  padding-right: $icon-size;
  text-align: center;
}

.mat-column-demo-name {
  padding-left: $size-s;
  font-size: $size-m;
}

.mat-column-demo-weight {
  font-style: italic;
}

.mat-column-demo-symbol {
  width: $size-l;
  text-align: center;
  font-weight: $bold-weight;
}

::ng-deep .icon-wrap.more-horiz {
  cursor: pointer;
  .mat-icon-button {
    width: $icon-size;
    height: $icon-size;
    @include flex(row, flex-start, center);
    &.mat-focus-indicator{
      &:focus, &:hover, &.active {
        border-radius: $border-half-radius;
        background-color: $gray-white;
      }
    }
  }
  .mat-ripple {
    display:none;
  }
}
::ng-deep .search-textfield-wrapper {
  @include flex(row, space-between, center);
  height: $sidebar-width;
  // border-bottom: solid 1px #e9edf1;
  position: sticky;
  top: 0;
  z-index: 9;
  background: $white;
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    width: calc(100% + 180px);
    height: 1px;
    left: -122px;
    background: #e9edf1;

  }
  margin-bottom: $size-s;
   .search-input {
    position: relative;
    .mat-form-field {
      .mat-form-field-wrapper {
        .mat-form-field-flex {
          .mat-form-field-infix {
            width: 320px;
            padding-top: 0;
           
            input {
              &::placeholder {
                font-size: $size-xs;
                color:$light-black;
              }
            }
          }
        }
        .mat-form-field-underline {
          display: none;
        }
      }
    }
    img {
      width: $size-s;
      height: $size-s;
      margin-right: $size-s;
      margin-bottom: -2px;
    }
  }
  ::ng-deep .user-info {
    @include flex(row, flex-start, center);
    .mat-button {
      .mat-button-wrapper {
        @include flex(row, flex-start, center);
      }
    }
    .user-icon {
      width: $btn-height;
      height: $btn-height;
      border-radius: $rounded;
      background-color: $light-sky;
      margin-right: 12px;
      @include flex(row, center, center);
    }
    .arrow {
      width: $icon-size;
      height: $icon-size;
      &:focus, &:hover {
        border-radius: $border-half-radius;
        background-color: $gray-white;
      }
    }
    .user-text {
      margin-right: $margin-l;
      @include flex(column, flex-start, flex-start);
      h5{
        font-size: $size-xs;
        font-weight: $bold-weight;
        color: $black;
        margin: 0;
      }
      p {
        margin: 0;
        font-size: $size-xs;
        color:  $light-black;
      }
    }
  }
}

::ng-deep {
  .mat-select-panel-wrap {
    .mat-select-panel {
      .mat-option {
        font-size: $size-xs;
      }
    }
  }
}


::ng-deep .user-log {
  padding: 5px;
  min-height: auto !important;
  .mat-menu-content:not(:empty) {
    padding: 0;
    .mat-menu-item {
      height: $size-full-icon;
      line-height: $size-full-icon;
      border-radius: $border-half-radius;
    } 
  }
}

.more-horiz button[aria-expanded="true"]{
  background-color: $gray-white;
  border-radius: $border-half-radius;
}
